:root { 
--lime_200:#dee99c; 
--gray_400:#b3b3b3; 
--blue_gray_100:#d9d9d9; 
--lime_700:#cdab35; 
--amber_500:#ffc807; 
--gray_900:#121212; 
--black_900_90:#00000090; 
--indigo_A200:#4175f9; 
--black_900_3f:#0000003f; 
--teal_100:#a1dce4; 
--teal_300:#45a1ae; 
--black_900_01:#0d0d0d; 
--gray_100_af:#f6f6f6af; 
--black_900:#000000; 
--gray_900_7f:#112a2a7f; 
--blue_400:#43b4f3; 
--indigo_900:#270d70; 
--white_A700:#ffffff; 
}